<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} — {{ website.title }}</title>
  {{ metatags }}
</head>
<body>
  <header>
    <h1>{{ website.header }}</h1>
  </header>

  <article>
    <header>
      <h1>{{ title }}</h1>
      <p>{{ abstract }}</p>
    </header>

    <aside>
      <p>Category: {{ category }}</p>
      <ul>
        {{#tags}}
        <li>{{ . }}</li>
        {{/tags}}
      </ul>
    </aside>

    <div id="content">
      {{{ content }}}
    </div

  </article>

  <footer>
    <p>{{ website.footer }}</p>
  </footer>
</body>
</html>
